/* this for background image */
body {
    background-image: url('../home/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* this for navbar */
nav {
    background-color: #4C42BD;
}

.btn {
    border-radius: 50px;
    color: white;
}

.login {
    border-color: #9F9BDC;
}

.login:hover {
    background-color: #9F9BDC;
    color: white;
}

/* this for navbar END*/

/* footer stuff */
#socialMediaSection {
    background-color: #9F9BDC;
    color: white;
}

#linksSection {
    background-color: #9F9BDC;
    color: white;
}

#copyrightDiv {
    background-color: #8f8cc6;
    color: white;
}
/* footer stuff END*/

#contactButton {
    background-color: transparent;
    border-color: #9F9BDC;
}

#contactButton:hover {
    background-color: #9F9BDC;
    color: white;
}

.custom-select {
    width: inherit;
    height: inherit;
}