.font-size-larger{
    font-size: larger;
}

.font-size-xlarge{
    font-size: x-large;
}

.background-violet{
    background-color: blueviolet;
}

.height-240{
    height: 240px;
}

.text-red{
    color: red;
}