/* this for background image */
body {
    background-image: url('../home/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* this for navbar */
nav {
    background-color: #4C42BD;
}

.btn {
    border-radius: 50px;
    color: white;
}

.login {
    border-color: #9F9BDC;
}

.login:hover {
    background-color: #9F9BDC;
    color: white;
}

/* this for navbar END*/

/*scroll*/
.scrolling-wrapper{
	overflow-x: auto;
}

/* footer stuff */
#socialMediaSection {
    background-color: #9F9BDC;
    color: white;
}

#linksSection {
    background-color: #9F9BDC;
    color: white;
}

#copyrightDiv {
    background-color: #8f8cc6;
    color: white;
}
/* footer stuff END*/

#deleteButton {
    background-color: transparent;
    border-color: #9F9BDC;
    width: 300px;
}

#deleteButton:hover {
    background-color: #9F9BDC;
    color: white;
}

.select-country{
    width: 100%;
    height: 38px;
    border-radius: 5px;
    color: rgb(100, 100, 100);
}

#editButton {
    background-color: #9F9BDC;
    border-color: #9F9BDC;
    width: 300px;
}

#editButton:hover {
    background-color: transparent;
    border-color: #9F9BDC;
    color: white;
}

.text-red{
    color: red;
}