/* this for background image */
body {
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* this for navbar */
nav {
    background-color: #4C42BD;
}

.btn {
    border-radius: 50px;
    color: white;
}

.login {
    border-color: #9F9BDC;
}

.login:hover {
    background-color: #9F9BDC;
    color: white;
}

/* this for navbar END*/

/* footer stuff */
#socialMediaSection {
    background-color: #9F9BDC;
    color: white;
}

#linksSection {
    background-color: #9F9BDC;
    color: white;
}

#copyrightDiv {
    background-color: #8f8cc6;
    color: white;
}
/* footer stuff END*/

.find_your_space_button {
    background-color: #9F9BDC;
    border-color: #9F9BDC;
}

.find_your_space_button:hover {
    background-color: transparent;
    border-color: #9F9BDC;
    color: white;
}

.list_your_space_button {
    border-color: #DABC80;
}

.list_your_space_button:hover {
    background-color: #DABC80;
    color: white;
}

#iconBar {
    background-color: #9F9BDC;
    opacity: 0.7;
}

.fa-solid:hover{
    color: white;
}

.fa-regular:hover{
    color: white;
}

#memberships {
    background-color: #9F9BDC;
    opacity: 0.7;
}

.card {
    background-color: #0E1943;
    width: auto;
    height: 300px;
}

.card-title {
    color: white;
}

.card-body {
    color: white;
}

#membershipsButton {
    background-color: #0E1943;
    outline: #AEDADA;
}

#membershipsButton:hover {
    background-color: #AEDADA;
    color: white;
}

#contactButton {
    background-color: transparent;
    border-color: #9F9BDC;
}

#contactButton:hover {
    background-color: #9F9BDC;
    color: white;
}

.custom-select {
    width: inherit;
    height: inherit;
}

#lightbulbIcon {
    color: white;
}

.fa-solid.fa-inbox {
    color: white;
}

.fa-solid.fa-rocket {
    color: white;
}

.fa-solid.fa-computer {
    color: white;
}

.fa-solid.fa-mobile-screen-button {
    color: white;
}

.fa-solid.fa-people-group {
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}


.text-align-end{
    text-align: end;
}

